@charset "UTF-8";


/* ベース */
html {
  /* ユーザーのブラウザ設定を反映するために %指定 */
  font-size: 62.5%;
}
body {
  color: #333;
  /* root em はroot DOMの文字サイズからの相対値 */
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {
  box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
  color: #d03c56;
  text-decoration: none;
}

/* レイアウト */
.header {
  width: 100%;
  /* margin の相殺考慮して padding を使用 */
  padding: 28px 0 10px;
  background: url("../images/bg-header.gif");
  box-shadow: 0 0 10px 1px #e3e3e3;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.main {
  display: block;
  width: 660px;
  float: left;
}

.sidemenu {
  width: 275px;
  float: right;
}

.footer {
  width: 100%;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* ヘッダー */
.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url("../images/logo.png") no-repeat;
  /* テキストを非表示 */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.logo a {
  /* a の display のデフォルト値は inline */
  display: block;
  /* 親要素と同じ大きさにする */
  width: 100%;
  height: 100%;
}